<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="registrationNumbers">
</head>
<!-- <script src="registration_number.js" charset="utf-8"></script> -->
<!-- <link rel="stylesheet" href="/css/registration_number.css"> -->

<body>
    <div class="row1">
        <div class="reg">
            <h1>REGISTRATION</h1>
            <span class="errorMessa"></span>
            <form action="/regNum" method="post">
                <label for="">Registration Number</label>

                <input type="text" name="regNames" class="regNames" value="{{regNames}}" placeholder="CA 14523"><br>
                <br>
                <button type="submit" class="addbtn">ADD</button><br>

            </form>

            <br>
            <form action="/showtown" method="post">
                <div class="radio">
                    <label class="malmesbury"></label>
                    <input type="radio" name="reg" class="regPlace" value="CK">
                    <span class="label-body">Malmesbury</span>

                    <label class="Belville"></label>
                    <input type="radio" name="reg" class="regPlace" value="CY">
                    <span class="label-body">Belville</span>

                    <label class="Capetown"></label>
                    <input type="radio" name="reg" class="regPlace" value="CA">
                    <span class="label-body">Cape Town</span>
                </div><br>
                <div class="show">
                    <button type="submit" class="showbtn">SHOW</button>
                </div>
                

            </form>




              <div class="showall">
                <form action="action" method="post">
                <button type="button" class="showAllbtn">SHOW ALL</button>

            </form>
  
              </div>
            <div class="reset">
           <form action="/reset" method="post">
                <button type="submit" class="resetbtn">RESET</button><br>
            </form>

            </div>
           
            <br>
            <br>
        <div class="display">
            {{#each display}}
            <span class="display">{{this.regnumbers}}</span>
            {{/each}}
        </div>
        </div><br>

        <br>
    </div>
    {{!-- //
    <script src="registrationFactoryFun.js" charset="utf-8"></script>

    <script src="registration.js" charset="utf-8"></script> --}}
</body>

</html>