.reg{
    background-color:cornflowerblue; 
    width: 30%; 
   padding-bottom: 3%;
    margin-left: 35%;
    margin-top: 10%;
    border: 5px black solid;
    padding-left: 5%;
    
    
  }
  body{
      background-color: blanchedalmond;
  }
  .display span {
    background-color: yellow;
    border-radius: 20%;
    border: 3px black solid;
    width: 80%;
  }
  .showall{
 padding-left: 20%;
 margin-top:  -5.5%;
 
}
.reset{
  padding-left: 50%;
  margin-top: -5.5%;
}
@keyframes erroMesseges{
  to{
      width: 0;
      height: 0;
      overflow: hidden;
  }
}
.errorMessa {
  color:red;
  animation: erroMesseges 0s ease-in 3s forwards;
}
@keyframes erroM{
  to{
      width: 0;
      height: 0;
      overflow: hidden;
  }
}
.erro {
  color:darkgreen;
  animation: erroM 0s ease-in 3s forwards;
}